*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/img.jpg);
  animation: stars 10s infinite linear;
}
@keyframes stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 0.2rem solid rgb(249, 251, 247);
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(6, 6, 6, 0.4);
  text-shadow: 0 0 0.9rem rgb(205, 198, 198);
  cursor: pointer;
}
:active.btn {
  border: 0.3rem solid rgb(231, 198, 7);
  transform: scale(1.1);
}
